:root {
  --black: #06052b;
  --white: #f9f9f9;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  color: var(--black);
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
}
